.container {
  display: flex;
  margin: 20px;
  justify-content: center;
  
}

.chart-row {
  border: 1px solid black;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 /30%);
  justify-content: space-between;
  margin: 20px 10px;
  border-radius: 6px;
}
.chart-row2{
    border:1px solid black;
    box-shadow: 10px -2px 20px 2px rgb(0 0 0 /30%);
    justify-content: space-between;
    margin: 20px 10px;
    border-radius: 6px;
}
