.App {
    text-align: center;
    padding: 2rem;
  }
  
  .light {
    --bg-color: white;
    --text-color: black;
  }
  
  .dark {
    --bg-color: black;
    --text-color: white;
  }
  
  .App {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  